.app-container {
    padding: 1rem;
}

.current-weather img{
    width:4rem;
    height: 4rem;
}

.current-weather {
    display: flex;
    margin: 2rem 1rem 1rem 0rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 22rem;
    padding: 1rem 1rem 1rem 0rem;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.card {
    border: 1px solid black;
    width: 12rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background: rgb(36, 32, 32);
    color: white;
    border-radius: 10px;
    height: 8rem;
    box-shadow: 9px 7px 13px -1px rgba(53, 52, 52, 0.75);
-webkit-box-shadow: 9px 7px 13px -1px rgba(53, 52, 52, 0.75);
-moz-box-shadow: 9px 7px 13px -1px rgba(53, 52, 52, 0.75);
}

.card img {
width: 5rem;
height: 5rem;
}

.row {
    display: flex;
    gap:0.8rem;
    width: 100%;
    overflow-x: auto;
    background: rgb(228, 222, 222);
    padding: 1rem;
    border-radius: 1rem;
}

.row::-webkit-scrollbar {
    height: 5px;
}